<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Csharper.OliverTwist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Csharper.OliverTwist.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Csharper.OliverTwist.Model.Properties.Settings.OliverTwistConnectionString"
        connectionString="Data Source=(local);Initial Catalog=OliverTwist;Integrated Security=True"      
        providerName="System.Data.SqlClient" />
    <add name="Csharper.OliverTwist.Model.Properties.Settings.OliverTwistConnectionString"
        connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=OliverTwist;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    <add name="Csharper.OliverTwist.Model.Properties.Settings.OliverTwistConnectionString"
        connectionString="Data Source=kotlyarav_6.hosting.parking.ru;Initial Catalog=kotlyarav_6;User ID=kotlyarav_6;Password=EZpN^Oue^g" 
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TraceTestDelimitedListListener"
           type="System.Diagnostics.DelimitedListTraceListener"
           delimiter="|"
           initializeData="LogMain.txt"
           traceOutputOptions="ProcessId, DateTime, ThreadId" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <Csharper.OliverTwist.Properties.Settings>
      <setting name="GateUserName" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="GatePassword" serializeAs="String">
        <value>colonel</value>
      </setting>
      <setting name="SessionsTTL" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="DefaultSenderName" serializeAs="String">
        <value>Development</value>
      </setting>
    </Csharper.OliverTwist.Properties.Settings>
    <Csharper.OliverTwist.Model.Properties.Settings>
      <setting name="ClientPerPage" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SecretKey" serializeAs="String">
        <value>DjnNt,tYf</value>
      </setting>
    </Csharper.OliverTwist.Model.Properties.Settings>
  </applicationSettings>

  <system.net>
    <mailSettings>
      <smtp from="admin@adesms.ru">
        <network host="mail05.parking.ru" password="DjBvzLj,hf" port="25" userName="admin@adesms.ru"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Csharper.OliverTwist.Model.Properties.Settings.OliverTwistConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Csharper.OliverTwist.Model.Properties.Settings.OliverTwistConnectionString" applicationName="/" />
      </providers>
    </roleManager>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<defaultDocument>
      <files>
        <add value="Test.htm" />
      </files>
    </defaultDocument>-->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IADEService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--
      <endpoint address="http://localhost:7049/ADEService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IADEService" contract="GateService.IADEService"
        name="BasicHttpBinding_IADEService" />
        -->
      <endpoint address="http://service.adesms.ru/ADEService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IADEService" contract="GateService.IADEService"
        name="BasicHttpBinding_IADEService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>

