.pop {
  position: absolute;
  display: inline; }
  .pop .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .pop .pop_toggle {
    background: url(images/Drops.png) no-repeat scroll 0px -19px transparent;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer; }

.active .pop_menu {
  display: block;
  background-color: #FFFFEE;
  color: black;
  position: absolute;
  padding: .3em;
  width: 12em; }
  .active .pop_menu a {
    color: black; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/Drops.png) no-repeat scroll 0px 1px transparent; }
