<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Csharper.SMSServiceGate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TraceTestDelimitedListListener"
           type="System.Diagnostics.DelimitedListTraceListener"
           delimiter="|"
           initializeData="LogMain.txt"
           traceOutputOptions="ProcessId, DateTime, ThreadId" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
 <system.web>
		<customErrors mode="Off"/>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<defaultDocument>
			<files>
				<add value="TestBatchSendV2.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
 <applicationSettings>
  <Csharper.SMSServiceGate.Properties.Settings>
   <setting name="SessionTTLMin" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="SMSServiceGate_ADEService_ADEService" serializeAs="String">
     <!--<value>http://localhost:9049/Services/ADEService.svc</value>-->
     <value>http://lk.adesms.ru/Services/ADEService.svc</value>
   </setting>
  </Csharper.SMSServiceGate.Properties.Settings>
 </applicationSettings>
</configuration>
